In [1]:
# Import and create a new SQLContext 
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

NameError: name 'sc' is not defined

In [ ]:
# Read the country CSV file into an RDD.
country_lines = sc.textFile('file://code/data/country-list.csv')

In [ ]:
# Convert each line into a pair of words

In [ ]:
# Convert each pair of words into a tuple

In [ ]:
# Create the DataFrame, look at schema and contents
countryDF = sqlContext.createDataFrame(country_tuples, ["country", "code"])
countryDF.printSchema()
countryDF.take(3)

In [ ]:
# Read tweets CSV file into RDD of lines

In [ ]:
# Clean the data: some tweets are empty. Remove the empty tweets using filter()

In [ ]:
# Perform WordCount on the cleaned tweet texts. (note: this is several lines.)

In [ ]:
# Create the DataFrame of tweet word counts

In [ ]:
# Join the country and tweet DataFrames (on the appropriate column)

In [ ]:
# Question 1: number of distinct countries mentioned

In [ ]:
# Question 2: number of countries mentioned in tweets.
from pyspark.sql.functions import sum

In [ ]:
# Table 1: top three countries and their counts.
from pyspark.sql.functions import desc

In [ ]:
# Table 2: counts for Wales, Iceland, and Japan.